#TEST
REACT_APP_GRAPH_ENDPOINT=graphqlURL
REACT_APP_GRAPH_API_KEY=graphqlKey
REACT_APP_REPORTS_URL=http://nzshm22-static-reports-test.s3-website-ap-southeast-2.amazonaws.com
REACT_APP_REPORTS_LIMIT=8
REACT_APP_ROOT_PATH=localhost:3000
REACT_APP_MIN_X_BOUND=2e-3
#solvis
REACT_APP_SOLVIS_ENDPOINT=https://....test
REACT_APP_SOLVIS_API_KEY=...
REACT_APP_ANALYSIS_LOC_LIST_ID=NZ
REACT_APP_RADII_ID=6
